ion-toolbar {
  --background: rgb(252, 252, 252);

  @media (prefers-color-scheme: dark) {
    --background: var(--ion-background-color);
  }
}
ion-toolbar {
  position: fixed;
 /* Adjust the z-index as needed */
}
ion-list {
  /* Add padding or margin to the content to prevent it from being hidden under the fixed header */
  padding-top: 56px; /* Adjust the value based on your header's height */
}
.md ion-toolbar {
  --padding-top: var(--status-bar-height);
}

ion-title {
  font-size: 22px;
  font-family: WorkSans-Bold;
  color: var(--color-darkText);
}

ion-title.md {
  margin-left: 48px; // menu icon space
}
 ion-col {
  border: 1px black solid  ;

}

ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --border-radius: 4px;

  ion-img {
    aspect-ratio: 1.5;
    object-fit: cover;
  }
  .sc1
  {
    display: flex;
    flex-wrap: nowrap;

  }
  ion-row {
    border: 1px solid black;
  }
}
.hidden {
  display: none;
}
.Pax
{
  color: green;

}
.Chambre
 {
  color: red;
 }

.material-icons.darkgrey {
  color: var(--color-darkgrey);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */

}

th, td {
  text-align: left;
  padding: 6px;
  border: 1px solid #ddd; /* Add borders to cells */

}
th{
  background-color: #f2f2f2; /* Add a background color for headers */
}

.table-title {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
  font-size: 2.5em; /* Adjust the font size as needed */
  color: #fff; /* Set the color of the title text */
}
.table-description {
  text-align: left;
  font-size: 1em; /* Adjust the font size as needed */
  color: #eee; /* Set the color of the description text */
}
ion-content {
  --background: url('../../../assets/images/backgourndionic.jpeg') center center no-repeat;
  background-size: cover;  }
tr:nth-child(even){background-color: #f2f2f2}
