<ion-content style="ion-content {
  --background: url('../assets/background-image.jpg') no-repeat center center fixed;
  background-size: cover;
}">
<ion-toolbar  style="background-color:blue; ">
    <p style="text-align: center ; margin-top: 9%; color: black;">
      {{RockData.nomhotel}}
      <ion-note>
        <ion-button (click)="refreshPage()"
          ><img
            src="../../../assets/icon/arrows-rotate-solid.svg"
            alt="refresh"
            srcset="" /></ion-button
      ></ion-note>
    </p>
  </ion-toolbar>

  <ion-content class="ion-padding"  >
    <h1 class="table-title" style="background-color: white; color: black;margin-top: 30%;">
      Occupations hôtel
    </h1>

    <div style="overflow-x:auto;">
      <table>
        <tr>
          <th>Libellé</th>
          <th>Nombre Chambre</th>
          <th>%Taux</th>

        </tr>
        <tr >
          <td>Residents De La Veille</td>
          <td>10</td>
          <td>	3,472</td>

        </tr>
        <tr >
          <td>Departs Prevus</td>
          <td>	4</td>
          <td>	1,389</td>

        </tr>
        <tr >
          <td>Reste</td>
          <td>	6</td>
          <td>		2,083</td>

        </tr>
        <tr >
          <td>Arrivees Prevues</td>
          <td>7</td>
          <td>	2,431</td>

        </tr>
        <tr >
          <td>Residents Ce Jour</td>
          <td>13</td>
          <td>	4,514</td>

        </tr>

      </table>
    </div>



      <!-- table with card  -->


  <div class="chart-container" style="background-color: white; ">
    <canvas  id="MyChart" style="margin: 40% 0%;"></canvas>
</div>





  <p style="width: 10%; height: 10%; color: white">{{currantday}}</p>



    <h1 class="table-title" style="background-color: white; color: black;">
      Prévision de semaine
    </h1>



    <div style="overflow-x:auto; text-align: center;">
      <table>
        <tr>
          <th style="font-size: 12px;">Journée</th>
          <th style="font-size: 12px;">Départ</th>
          <th style="font-size: 12px;">Arrivée</th>
          <th style="font-size: 12px;">Chambre</th>
          <th style="font-size: 12px;">%Occup</th>

        </tr>
        <tr >
          <td >20/01/2024</td>
          <td >4</td>
          <td >2 </td>
          <td >9</td>
          <td >1.53 </td>

        </tr>
        <tr >
          <td >21/01/2024</td>
          <td >3</td>
          <td >4 </td>
          <td >6</td>
          <td >5.66 </td>

        </tr>
        <tr >
          <td >22/01/2024</td>
          <td >5</td>
          <td >6 </td>
          <td >3</td>
          <td >3.85 </td>

        </tr>
        <tr >
          <td >23/01/2024</td>
          <td >0</td>
          <td >4 </td>
          <td >6</td>
          <td >3.2 </td>

        </tr>
        <tr >
          <td >24/01/2024</td>
          <td >0</td>
          <td >3 </td>
          <td >8</td>
          <td >3.2 </td>

        </tr>
        <tr >
          <td >25/01/2024</td>
          <td >0</td>
          <td >4 </td>
          <td >6</td>
          <td >3.2 </td>

        </tr>

      </table>
    </div>

  </ion-content>



